<h1>Employee Information</h1>
<p>Employee ID: {{ employeeId }}</p>
<p>Basic Salary: {{ basicSalary }}</p>
<form [formGroup]="configureDonationForms">
  @if (configureDonationForms.errors?.['insufficientRemainingSalary']) {
    <div class="donation-salary-error">
      Total donation amount exceeds the allowed amount. Please adjust your donation amounts.
    </div>
  }
  <div formArrayName="donations">
    @for (donation of donations.controls; track $index) {
      <div
        [formGroupName]="$index"
        class="donation-card"
        [class.donation-card-invalid]="
          configureDonationForms.errors?.['insufficientRemainingSalary']
        "
      >
        <h3>
          {{ donation.get('hospitalName')?.value }}
        </h3>

        <p>
          {{ donation.get('donationName')?.value }}
        </p>
        <label for="donationAmount">Donation Amount:</label>
        <input type="number" formControlName="donationAmount" placeholder="Enter amount" />
        @if (donation.get('donationAmount')?.invalid && donation.get('donationAmount')?.touched) {
          @if (donation.get('donationAmount')?.errors?.['required']) {
            <span>Donation amount is required.</span>
          }
          @if (donation.get('donationAmount')?.errors?.['min']) {
            <span>Donation amount must be at least 500.</span>
          }
          @if (donation.get('donationAmount')?.errors?.['pattern']) {
            <span>Donation amount must be a valid number.</span>
          }
        }
        <mat-radio-group formControlName="donationType">
          <mat-radio-button [value]="DonationType.RECURRING"> Recurring </mat-radio-button>
          <mat-radio-button [value]="DonationType.ONE_TIME"> One Time </mat-radio-button>
        </mat-radio-group>
        @if (isDonationTypeRecurring($index)) {
          <div class="recurring-donation-fields">
            <label for="recurringFrequency">Recurring Frequency:</label>
            <input type="date" formControlName="donationStartDate" placeholder="Start Date" />
            <input type="date" formControlName="donationEndDate" placeholder="End Date" />
            <span>Leave end date blank for indefinite recurrence</span>
          </div>
        }
        @if (
          donation.get('donationStartDate')?.invalid && donation.get('donationStartDate')?.touched
        ) {
          <span>Start date is required.</span>
        }
      </div>
      <!-- <mat-date-range-input>
  <input matStartDate placeholder="Start date">
  <input matEndDate placeholder="End date">
</mat-date-range-input> -->
    }
  </div>
</form>
<div class="action-buttons">
  <!-- @if(configureDonationForms.errors?.['insufficientRemainingSalary'] || configureDonationForms.invalid){} -->
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      configureDonationForms.errors?.['insufficientRemainingSalary'] ||
      configureDonationForms.invalid
    "
    (click)="goToNextStep()"
  >
    Next
  </button>
  <button mat-raised-button color="primary" (click)="goToPreviousStep()">Previous</button>
</div>
