mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 250px;
  padding: 16px;
}

mat-sidenav-content {
  padding: 20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

mat-sidenav {
    width: 250px;
    padding: 16px;
    /* background: var(--mat-sys-primary); */
    /* background: var(--mat-sys-surface); */
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}

mat-sidenav-content {
    padding: 20px;
}
mat-toolbar {
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}

.logout-button{
    background: white;
    color: white;
}