<div class="dashboard">
  <div class="dashboard-header">
    <h1>Dashboard</h1>

    <p>Welcome to KinthraHub</p>
  </div>

  <div class="dashboard-cards">
    @if (isMyDataLoading) {
      <div class="card-spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else {
      <mat-card>
        <mat-card-header>
          <mat-card-title> Active Donations </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="card-value">
            {{ myActiveDonations }}
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> My donations </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="card-value">₹{{ myTotalDonationAmount }}</div>
        </mat-card-content>
      </mat-card>
    }
    @if (role === 'ROLE_ADMIN') {
        
      @if (isAllDataLoading) {
        <div class="card-spinner">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      } @else {
        <mat-card>
          <mat-card-header>
            <mat-card-title> All Active Donations </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="card-value">
              {{ allActiveDonations }}
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title> All Donations </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="card-value">₹{{ totalDonation }}</div>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
</div>
