.success-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: white;
}

.error-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #d32f2f;
    --mdc-snackbar-supporting-text-color: white;
}

.warning-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #ed6c02;
    --mdc-snackbar-supporting-text-color: white;
}

.info-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #0288d1;
    --mdc-snackbar-supporting-text-color: white;
}
.table-container {
  padding: 20px;
}

table {
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.no-data {
  text-align: center;
  padding: 60px;
  color: gray;
  font-size: 18px;
}